<template>
  <h1 class="text-center mt-5 title">Resultado</h1>
  <div class="row justify-content-md-center">
    <div class="col-3"></div>
    <div
      class="
        col-6
        mt-4
        row
        justify-content-md-center
        bg-color-simulador
        borde-resultado
      "
    >
      <div class="col-12 form-label">
        <p class="text-center">
          {{ simulacion.nombre }}, el valor estimado de cuota mensual es
        </p>
        <p class="text-center">$ {{ simulacion.valorCuota }}</p>
        <p class="text-center">Fecha {{ fecha }}</p>
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-purple" @click="$emit('nuevaSimulacion')">
          Regresar
        </button>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</template>

<script>
export default {
  props: {
    simulacion: {
      type: Object,
      require: true,
    },
  },
  data() {
    return {
      fecha: new Date().toDateString(),
    };
  },
};
</script>

<style>
</style>