<template>
  <div v-if="!mostrarResultado" class="container-fluid">
    <div class="row">
      <h1 class="text-center mt-5 title">Simulador</h1>
      <div class="col-3"></div>
      <div class="col-6 mt-4 borde bg-color-simulador">
        <div class="container-fluid">
          <div class="row">
            <!-- PAIS -->
            <div class="col-12">
              <label for="Pais" class="form-label">Pais</label>
              <select
                v-model="simulacion.pais"
                class="form-select"
                aria-label="Pais"
              >
                <option value="" selected>
                  Por favor seleccione una opción
                </option>
                <option v-for="pais of paises" :key="pais.cioc" :value="pais">
                  {{ pais.name }}
                </option>
              </select>
            </div>

            <!-- TIPO DOCUMENTO -->
            <div class="col-6 mt-4">
              <label for="Tipo Documento" class="form-label"
                >Tipo Documento</label
              >
              <select
                v-model="simulacion.tipoDocumento"
                class="form-select"
                aria-label="Tipo documento"
              >
                <option value="" selected>
                  Por favor seleccione una opción
                </option>
                <option value="CC" selected>Cedula ciudadania</option>
                <option value="PS">Pasaporte</option>
              </select>
            </div>

            <!--  DOCUMENTO -->
            <div class="col-6 mt-4">
              <label for="Documento" class="form-label">Documento</label>
              <input
                v-model="simulacion.documento"
                type="text"
                class="form-control"
              />
            </div>

            <!--  NOMBRE COMPLETO -->
            <div class="col-6 mt-4">
              <label for="Nombre completo" class="form-label"
                >Nombre completo</label
              >
              <input
                v-model="simulacion.nombre"
                type="text"
                class="form-control"
              />
            </div>

            <!--  CORREO ELECTRONICO  -->
            <div class="col-6 mt-4">
              <label for="Correo electronico" class="form-label"
                >Correo electrónico</label
              >
              <input
                v-model="simulacion.correo"
                type="email"
                class="form-control"
              />
            </div>

            <!--Monto -->
            <div class="col-6 mt-4">
              <label for="Monto" class="form-label">Monto</label>
              <input
                min="2000000"
                max="100000000"
                v-model="simulacion.monto"
                type="number"
                class="form-control"
              />
            </div>

            <!--  Medio  consignacion -->
            <div class="col-6 mt-4">
              <label for="Medio consignacion" class="form-label"
                >Medio consignación</label
              >
              <select
                @change="asignarInteres"
                v-model="simulacion.medioConsignacion"
                class="form-select"
                aria-label="Tipo documento"
              >
                <option value="" selected>
                  Por favor seleccione una opción
                </option>
                <option value="transferencia" selected>Transferencia</option>
                <option value="cheque">Cheque</option>
              </select>
            </div>

            <!--Plazo -->
            <div class="col-6 mt-4">
              <label for="plazo" class="form-label">Plazo</label>
              <input
                min="12"
                max="120"
                v-model="simulacion.plazo"
                type="number"
                class="form-control"
              />
            </div>

            <!--Interes -->
            <div class="col-6 mt-4">
              <label for="interes" class="form-label">Interés</label>
              <input
                readonly
                v-model="simulacion.interes"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-12 text-center mb-3">
              <button
                :disabled="validarForm"
                @click="calcularInteres"
                class="btn btn-purple mt-3"
              >
                Calcular
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <Resultado
    @nuevaSimulacion="nuevaSimulacion"
    v-else
    :simulacion="simulacion"
  />
</template>

<script>
// import { firebase, db } from "@/firebase";

import paisesApi from "@/api/paisesApi";
import { defineAsyncComponent } from "@vue/runtime-core";

const MONTO_MINIMO = 2000000;
const MONTO_MAXIMO = 100000000;
const PLAZO_MINIMO = 12;
const PLAZO_MAXIMO = 120;

export default {
  components: {
    Resultado: defineAsyncComponent(() => import("./Resultado.vue")),
  },
  data() {
    return {
      paises: [],
      simulacion: {
        pais: "",
        tipoDocumento: "",
        documento: "",
        nombre: "",
        correo: "",
        monto: "",
        medioConsignacion: "",
        plazo: "",
        interes: "",
        valorCuota: 0,
        interesFraccionado: 0,
      },
      mostrarResultado: false,
    };
  },
  created() {
    this.buscarPaises();
  },
  methods: {
    async buscarPaises() {
      const { data } = await paisesApi.get();
      this.paises = data;
    },
    asignarInteres() {
      if (this.simulacion.medioConsignacion === "transferencia") {
        this.simulacion.interes = 1.5;
      }

      if (this.simulacion.medioConsignacion === "cheque") {
        this.simulacion.interes = 1.7;
      }

      if (this.simulacion.medioConsignacion === "") {
        this.simulacion.interes = "";
      }
    },
    calcularInteres() {
      const interesCalculado = this.simulacion.interes / 100;

      const interesFraccionado = Math.pow(
        1 + interesCalculado,
        this.simulacion.plazo * -1
      );

      this.simulacion.interesFraccionado = interesFraccionado.toFixed(4);

      const valorCuota =
        (this.simulacion.monto * interesCalculado) / (1 - interesFraccionado);

      this.simulacion.valorCuota = valorCuota.toFixed(3);
      this.mostrarResultado = true;
    },
    nuevaSimulacion() {
      this.simulacion = {
        pais: "",
        tipoDocumento: "",
        documento: "",
        nombre: "",
        correo: "",
        monto: "",
        medioConsignacion: "",
        plazo: "",
        interes: "",
        valorCuota: 0,
        interesFraccionado: 0,
      };

      this.mostrarResultado = false;
    },
  },
  computed: {
    validarForm() {
      if (
        this.simulacion.tipoDocumento === "" ||
        this.simulacion.documento === "" ||
        this.simulacion.nombre.length < 2 ||
        this.simulacion.correo === "" ||
        this.simulacion.medioConsignacion === ""
      ) {
        return true;
      }

      if (
        this.simulacion.monto < MONTO_MINIMO ||
        this.simulacion.monto > MONTO_MAXIMO
      ) {
        return true;
      }

      if (
        this.simulacion.plazo < PLAZO_MINIMO ||
        this.simulacion.plazo > PLAZO_MAXIMO
      ) {
        return true;
      }

      return false;
    },
  },
};
</script>

<style>
.borde-resultado {
  border: 2px solid #5f0a79;
  border-style: double;
  padding: 10px 10px;
}

.borde {
  border: 2px solid #5f0a79;
  border-style: dashed;
  padding: 10px 10px;
}
.form-label {
  color: #5f0a79;
  font-size: 18px;
  font-weight: 600;
}
.bg-color-simulador {
  background: #f5d5ff;
}
.title {
  color: gray;
}
.btn-purple {
  background: #5f0a79;
  color: white;
}
</style>