<template>
  <v-app>
    <v-main>
      <Simulador />
    </v-main>
  </v-app>
</template>

<script>
import Simulador from "./components/Simulador";

export default {
  name: "App",

  components: {
    Simulador,
  },

  data: () => ({
    //
  }),
};
</script>
